<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<title>MonsterChat Meteor</title>
</head>

<body>
	<!-- 
		The nav bar that will be update as we navigate between views.
	 -->
	<ion-nav-bar class="bar-stable">
		<ion-nav-back-button>
		</ion-nav-back-button>
	</ion-nav-bar>

	<!-- 
		The views will be rendered in the <ion-nav-view> directive below
		Templates are in the /templates folder (but you could also
		have templates inline in this html file if you'd like).
	 -->
	 <ion-nav-view></ion-nav-view>
</body>