<ion-view title="{{confirmation.phone}}">
	<ion-nav-buttons side="right">
		<button ng-click="confirmation.confirm()" ng-disabled="!confirmation.code || confirmation.code.length === 0" class="button button-clear button-positive">Done</button>
	</ion-nav-buttons>

	<ion-content>
		<div class="text-center padding">
			We have sent you an SMS with a code to the number above
		</div>
		<div class="text-center padding">
			To complete your phone number verification MonsterChat, please enter the 4-digit activation code.
		</div>


		<div class="list padding-top">
			<label class="item item-input">
				<input ng-model="confirmation.code" on-return="confirmation.confirm()" type="text" placeholder="Code">
			</label>
		</div>
	</ion-content>
</ion-view>