<ion-tabs class="tabs-stable tabs-icon-top tabs-color-positive" ng-cloak>

	<ion-tab title="Favorites" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" href="#/tab/favorites">
		<ion-nav-view name="tab-favorites"></ion-nav-view>
	</ion-tab>
	
	<ion-tab title="Recents" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" href="#/tab/recents">
		<ion-nav-view name="tab-recents"></ion-nav-view>
	</ion-tab>
	
	<ion-tab title="Contacts" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/tab/contacts">
		<ion-nav-view name="tab-contacts"></ion-nav-view>
	</ion-tab>
	
	<ion-tab title="Chats" icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline" href="#/tab/chats">
		<ion-nav-view name="tab-chats"></ion-nav-view>
	</ion-tab>
	
	<ion-tab title="Settings" icon-on="ion-ios-cog" icon-off="ion-ios-cog-outline" href="#/tab/settings">
		<ion-nav-view name="tab-settings"></ion-nav-view>
	</ion-tab>
</ion-tabs>